[tools]
zig = "latest"
zls = "latest"

[tasks.main]
run = "zig run src/main.zig"

[tasks.unit]
run = "zig test src/parser.zig"

[tasks.e2e]
run = "zig test --test-filter e2e-parse src/parser.e2e.zig"

[tasks.tests]
depends = ["unit", "e2e"]
