name: Run benchmark

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  bench:
    runs-on: ubuntu-latest
    name: Merge
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          working_directory: benchmark
      - run: mise run bench
        working-directory: benchmark