name: Release
on:
  push:
    branches:
      - feat-prepare-CLI-for-release

jobs:
  build-and-upload-assets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise run build
